
body {
    background-color: rgb(223, 223, 223);
  }
  h1 {
    color: black;
  }
  p {
    color: white;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }

 /* {
  box-sizing: border-box;
}     */

.navbar {
  /* The width is 20%, by default */
  /* height: 30%;  */
  width: 100%;
  background-color: black;
  display:flex;
  flex:wrap;
}

.carros{
  display: flex;
  flex-wrap: wrap;
  /*flex-flow: row wrap;*/
  flex-direction: row;
  align-content: flex-start;
}


.main  {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.main :hover{
  color:red;
  border-top:2px solid red;
  /* font-size:13px; */
  text-transform:uppercase;
  line-height:20px;
  text-decoration:none;
  margin-left: 10px;
  margin-right: 10px;

}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right, .navbar {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}